# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
wheels/

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# PyMC / ArviZ trace files
*.nc

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Environment
.env

# Claude instructions
claude*.md
